In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [15]:
data2020 = pd.read_csv('climate_all_pred_2020.csv')

In [16]:
data2020.drop(columns=['Unnamed: 0','level_0'],inplace=True)

In [17]:
data2020.head()

   country  year    CDA       CHA  FGA        NDA    BCA
0  Albania  1995  100.0  73.07252  0.0  78.221486  100.0
1  Albania  1996  100.0  73.07252  0.0  78.221486  100.0
2  Albania  1997  100.0  73.07252  0.0  78.221486  100.0
3  Albania  1998  100.0  73.07252  0.0  78.221486  100.0
4  Albania  1999  100.0  73.07252  0.0  78.221486  100.0

In [61]:
data2020_20207 = data2020[(data2020['year']==2020) | (data2020['year']==2027)]
#data2020_20207 = data2020[data2020['year']==2027]

In [62]:
data2020_20207.head()

    country  year        CDA         CHA        FGA        NDA         BCA
25  Albania  2020  41.174080   79.154052  89.444386  61.861935  100.000000
32  Albania  2027  35.178317   92.566625  95.584035  77.332742   62.969139
58  Algeria  2020  36.591538  100.000000  90.662428  28.363054   60.962098
65  Algeria  2027  43.580433   96.534233  86.245749  26.912441   43.674303
91   Angola  2020  30.324819  100.000000  89.319791  63.163265    7.125239

In [63]:
cda = data2020_20207[['country','year','CDA']].reset_index(drop=True)
cha = data2020_20207[['country','year','CHA']].reset_index(drop=True)
fga = data2020_20207[['country','year','FGA']].reset_index(drop=True)
nda = data2020_20207[['country','year','NDA']].reset_index(drop=True)
bca = data2020_20207[['country','year','BCA']].reset_index(drop=True)

In [64]:
cda = pd.pivot_table(cda,index='country',columns='year')
cha = pd.pivot_table(cha,index='country',columns='year')
fga = pd.pivot_table(fga,index='country',columns='year')
nda = pd.pivot_table(nda,index='country',columns='year')
bca = pd.pivot_table(bca,index='country',columns='year')

In [65]:
cda.columns = cda.columns.droplevel(0)
cha.columns = cha.columns.droplevel(0)
fga.columns = fga.columns.droplevel(0)
nda.columns = nda.columns.droplevel(0)
bca.columns = bca.columns.droplevel(0)

In [66]:
cda = cda.reset_index()
cha = cha.reset_index()
fga = fga.reset_index()
nda = nda.reset_index()
bca = bca.reset_index()

In [67]:
cda['Dif'] = cda[2027]-cda[2020]
cha['Dif'] = cha[2027]-cha[2020]
fga['Dif'] = fga[2027]-fga[2020]
nda['Dif'] = nda[2027]-nda[2020]
bca['Dif'] = bca[2027]-bca[2020]

In [68]:
cda['Dif_Wt'] = cda['Dif'].apply(lambda x: x*0.55)
cha['Dif_Wt'] = cha['Dif'].apply(lambda x: x*0.15)
fga['Dif_Wt'] = fga['Dif'].apply(lambda x: x*0.10)
nda['Dif_Wt'] = nda['Dif'].apply(lambda x: x*0.05)
bca['Dif_Wt'] = bca['Dif'].apply(lambda x: x*0.05)

In [69]:
cda

year                   country       2020       2027        Dif    Dif_Wt
0                      Albania  41.174080  35.178317  -5.995763 -3.297669
1                      Algeria  36.591538  43.580433   6.988895  3.843892
2                       Angola  30.324819  19.445372 -10.879446 -5.983695
3          Antigua and Barbuda  48.371560  39.740214  -8.631345 -4.747240
4                    Argentina  48.233173  40.530455  -7.702718 -4.236495
..                         ...        ...        ...        ...       ...
114   United States of America  66.956590  67.342799   0.386209  0.212415
115                    Uruguay  48.710428  39.848408  -8.862021 -4.874111
116                 Uzbekistan  67.872867  64.421449  -3.451418 -1.898280
117                  Venezuela  57.814027  54.244823  -3.569204 -1.963062
118                     Zambia   0.343282   0.000000  -0.343282 -0.188805

[119 rows x 5 columns]

In [70]:
score = cda[['country','Dif','Dif_Wt']]
score.rename(columns={"Dif": "CDA", "Dif_Wt": "CDA_Wt"},inplace=True)
score.head()

year              country        CDA    CDA_Wt
0                 Albania  -5.995763 -3.297669
1                 Algeria   6.988895  3.843892
2                  Angola -10.879446 -5.983695
3     Antigua and Barbuda  -8.631345 -4.747240
4               Argentina  -7.702718 -4.236495

In [82]:
score.merge(cha['Dif'],left_on='year')

TypeError: object of type 'NoneType' has no len()

In [83]:
import pandas as pd
import requests
import getpass
import mysql.connector
from sqlalchemy import create_engine
import pymysql

In [195]:
cnx = mysql.connector.connect(user='admin', password=getpass.getpass(), 
                              host='ironhack-bootcamp.cfayyzobwby9.eu-west-2.rds.amazonaws.com',
                              database='final_project',use_pure=True)

if cnx.is_connected():
    print('You are connected to the databse')
else:
    print('Connection is not open')

InterfaceError: 2003: Can't connect to MySQL server on 'ironhack-bootcamp.cfayyzobwby9.eu-west-2.rds.amazonaws.com:3306' (10060 Uma tentativa de conexão falhou porque o componente conectado não respondeu
corretamente após um período de tempo ou a conexão estabelecida falhou
porque o host conectado não respondeu)

In [84]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@ironhack-bootcamp.cfayyzobwby9.eu-west-2.rds.amazonaws.com/{db}"
                       .format(user="admin",
                               pw=getpass.getpass(),
                               db="final_project"))

cda.to_sql('cda', con = engine, if_exists = 'append', index = False)
cha.to_sql('cha', con = engine, if_exists = 'append', index = False)
fga.to_sql('fga', con = engine, if_exists = 'append', index = False)
nda.to_sql('nda', con = engine, if_exists = 'append', index = False)
bca.to_sql('bca', con = engine, if_exists = 'append', index = False)

In [14]:
cda.to_excel('cda.xlsx')
cha.to_excel('cha.xlsx')
fga.to_excel('fga.xlsx')
nda.to_excel('nda.xlsx')
bca.to_excel('bca.xlsx')