# SQL

In [7]:
import pandas as pd
import requests
import getpass
import mysql.connector

In [13]:
data = pd.read_csv('data_2020.csv')
data_pred_2020 = pd.read_csv('climate_pred_2020.csv')
data_pred_2019 = pd.read_csv('climate_pred_2019.csv')
data_pred_2018 = pd.read_csv('climate_pred_2018.csv')
all_data_pred_2020 = pd.read_csv('climate_all_pred_2020.csv')
all_data_pred_2019 = pd.read_csv('climate_all_pred_2019.csv')
all_data_pred_2018 = pd.read_csv('climate_all_pred_2018.csv')

In [14]:
data.drop(columns=['Unnamed: 0'],inplace=True)
data_pred_2020.drop(columns=['Unnamed: 0'],inplace=True)
data_pred_2019.drop(columns=['Unnamed: 0'],inplace=True)
data_pred_2018.drop(columns=['Unnamed: 0'],inplace=True)
all_data_pred_2020.drop(columns=['Unnamed: 0','level_0'],inplace=True)
all_data_pred_2019.drop(columns=['Unnamed: 0'],inplace=True)
all_data_pred_2018.drop(columns=['Unnamed: 0'],inplace=True)

In [16]:
all_data_pred_2018.head()

   country  year    CDA       CHA  FGA        NDA    BCA
0  Albania  1995  100.0  73.07252  0.0  78.221486  100.0
1  Albania  1996  100.0  73.07252  0.0  78.221486  100.0
2  Albania  1997  100.0  73.07252  0.0  78.221486  100.0
3  Albania  1998  100.0  73.07252  0.0  78.221486  100.0
4  Albania  1999  100.0  73.07252  0.0  78.221486  100.0

In [17]:
all_data_pred_2020.shape

(3927, 7)

In [6]:
cnx = mysql.connector.connect(user='admin', password=getpass.getpass(), 
                              host='ironhack-bootcamp.cfayyzobwby9.eu-west-2.rds.amazonaws.com',
                              database='final_project',use_pure=True)

In [8]:
if cnx.is_connected():
    print('You are connected to the databse')
else:
    print('Connection is not open')

You are connected to the databse

In [23]:
# we need to define the object we will use to interact with the database
cursor = cnx.cursor()

In [8]:
# simple querry to create a table in ironhack_personell database named 'names' with three columns (studens, age, school):

    ### ALSO CHECK IF YOUR QUERIES WERE WELL DONE ###
    
#querry = ("CREATE TABLE IF NOT EXISTS "
#"data_2020 ("
#"country VARCHAR(50) PRIMARY KEY ,"
#"year VARCHAR(8),"
#"CDA FLOAT,"
#"CHA FLOAT,"
#"FGA FLOAT,"
#"NDA FLOAT,"
#"BCA FLOAT)")

In [17]:
# this line executes the above querry to create an empty table in MySQL
#cursor.execute(querry)

NameError: name 'querry' is not defined

In [17]:
from sqlalchemy import create_engine
import pymysql

In [18]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@ironhack-bootcamp.cfayyzobwby9.eu-west-2.rds.amazonaws.com/{db}"
                       .format(user="admin",
                               pw=getpass.getpass(),
                               db="final_project"))

#data to upload
#querry = data.to_sql('data', con = engine, if_exists = 'append', index = False)
data.to_sql('climate', con = engine, if_exists = 'append', index = False)
data_pred_2020.to_sql('climate_pred2020', con = engine, if_exists = 'append', index = False)
data_pred_2019.to_sql('climate_pred2019', con = engine, if_exists = 'append', index = False)
data_pred_2018.to_sql('climate_pred2018', con = engine, if_exists = 'append', index = False)

In [20]:
all_data_pred_2020.shape

(3927, 7)

In [21]:
all_data_pred_2020.to_sql('climate_all_pred2020', con = engine, if_exists = 'append', index = False)
all_data_pred_2019.to_sql('climate_all_pred2019', con = engine, if_exists = 'append', index = False)
all_data_pred_2018.to_sql('climate_all_pred2018', con = engine, if_exists = 'append', index = False)

In [20]:
cursor.execute(querry)

NameError: name 'querry' is not defined

In [24]:
# saving any changes you did on the database
#cnx.commit()
# clear the cursor
cursor.close()
# closes the door between python and SQL
cnx.close()

In [19]:
all_data_pred_2018.to_excel('climate_all_pred_2018.xlsx')
all_data_pred_2019.to_excel('climate_all_pred_2019.xlsx')
all_data_pred_2020.to_excel('climate_all_pred_2020.xlsx')