In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
pop = pd.read_excel('2018-epi-raw-data-time-series.xlsx',sheet_name='POP')

In [6]:
pop.head()

,code,iso,country,POP.1997,POP.1998,POP.1999,POP.2000,POP.2001,POP.2002,POP.2003,...,POP.2007,POP.2008,POP.2009,POP.2010,POP.2011,POP.2012,POP.2013,POP.2014,POP.2015,POP.2016
0,4,AFG,Afghanistan,18381605.0,18863999.0,19403676.0,20093756.0,20966463.0,21979923.0,23064851.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
1,8,ALB,Albania,3148281.0,3128530.0,3108778.0,3089027.0,3060173.0,3051010.0,3039616.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
2,12,DZA,Algeria,29886839.0,30335732.0,30765613.0,31183660.0,31592153.0,31995046.0,32403514.0,...,34300076.0,34860715.0,35465760.0,36117637.0,36819558.0,37565847.0,38338562.0,39113313.0,39871528.0,40606052.0
3,16,ASM,American Samoa,54941.0,55901.0,56770.0,57521.0,58175.0,58731.0,59117.0,...,57903.0,57030.0,56227.0,55637.0,55320.0,55230.0,55307.0,55437.0,55537.0,55599.0
4,20,AND,Andorra,64327.0,64142.0,64370.0,65390.0,67341.0,70049.0,73182.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0

In [7]:
pop.shape

(236, 23)

In [9]:
pop.dtypes

code          int64
iso          object
country      object
POP.1997    float64
POP.1998    float64
POP.1999    float64
POP.2000    float64
POP.2001    float64
POP.2002    float64
POP.2003    float64
POP.2004    float64
POP.2005    float64
POP.2006    float64
POP.2007    float64
POP.2008    float64
POP.2009    float64
POP.2010    float64
POP.2011    float64
POP.2012    float64
POP.2013    float64
POP.2014    float64
POP.2015    float64
POP.2016    float64
dtype: object

In [10]:
gdp = pd.read_excel('2018-epi-raw-data-time-series.xlsx',sheet_name='GDP')

In [11]:
gdp.head()

,code,iso,country,GDP.1997,GDP.1998,GDP.1999,GDP.2000,GDP.2001,GDP.2002,GDP.2003,...,GDP.2007,GDP.2008,GDP.2009,GDP.2010,GDP.2011,GDP.2012,GDP.2013,GDP.2014,GDP.2015,GDP.2016
0,4,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,2.337863e+10,2.535276e+10,...,3.419659e+10,3.543156e+10,4.287950e+10,4.649566e+10,4.933825e+10,5.646010e+10,5.756623e+10,5.832180e+10,5.881212e+10,NaN
1,8,ALB,Albania,1.280324e+10,1.395666e+10,1.584097e+10,1.689703e+10,1.823871e+10,1.901046e+10,2.010803e+10,...,2.509046e+10,2.697977e+10,2.788359e+10,2.891807e+10,2.965548e+10,3.007659e+10,3.041044e+10,3.095783e+10,3.182465e+10,NaN
2,12,DZA,Algeria,2.827615e+11,2.971824e+11,3.066922e+11,3.184068e+11,3.279858e+11,3.463836e+11,3.713297e+11,...,4.311615e+11,4.413375e+11,4.485412e+11,4.648418e+11,4.782844e+11,4.944254e+11,5.081093e+11,5.273622e+11,5.472093e+11,NaN
3,16,ASM,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN