In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

# Data Description

* Population
* GDP
* DCT - $CO_{2}$ Emissions â€“ Total - `CDI = CO2 Intensity Current-Year Score`
* DPT - $CO_{2}$ emissions/kWh elect. & heat - `CEH = CO2 Emissions per kWh`
* DMT - $CH_{4}$ emissions - `CHI = $CH_{4}$ Intensity Current-Year Score`
* DNT - $N_{2}O$ emissions - `NOI = $N_{2}O$ Intensity Current-Year Score`
* DBT - Black Carbon emissions - `BCI = Black Carbon Current-Year Score`

In [2]:
climate = pd.read_csv('data_2020.csv')

In [3]:
climate.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
climate.shape

(3094, 7)

In [6]:
climate.head(10)

,country,year,CDA,CHA,FGA,NDA,BCA
0,Albania,1995,100.000000,73.072520,0.000000,78.221486,100.000000
1,Algeria,1995,40.836434,98.636534,96.334651,72.620891,70.996796
2,Angola,1995,12.888007,70.729875,0.000000,100.000000,43.865361
3,Antigua and Barbuda,1995,44.483927,80.575637,0.000000,36.690524,68.683208
4,Argentina,1995,40.485271,100.000000,100.000000,63.435774,45.942816
5,Armenia,1995,72.726561,89.833401,0.000000,97.707838,100.000000
6,Australia,1995,42.566037,99.666890,100.000000,76.458848,82.549405
7,Austria,1995,50.903881,100.000000,92.800663,93.225015,100.000000
8,Azerbaijan,1995,60.416530,86.983408,100.000000,74.176342,88.589201
9,Bahrain,1995,25.727473,33.991729,100.000000,43.459231,42.950239

In [5]:
climate = climate[climate['year']!=2020]
climate = climate[climate['year']!=2019]

In [6]:
climate['year'].unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018], dtype=int64)

# `Time Series` for 2021-2027 per country

In [7]:
from statsmodels.tsa.ar_model import AR
from statsmodels.tsa.arima_model import ARIMA
import datetime

In [8]:
countries = list(climate['country'].unique())
len(countries)

119

In [9]:
climate.isna().sum() # checking missing values

country    0
year       0
CDA        0
CHA        0
FGA        0
NDA        0
BCA        0
dtype: int64

In [10]:
cda = []
cha = []
fga = []
nda = []
bca = []

In [11]:
# CDA time series

for country in countries:
    df = climate[climate['country']==str(country)].reset_index()
    #df.index = pd.to_datetime(df['year'],format='%Y')#.dt.year
    features1 = df['CDA']
    model1 = AR(features1)
    model1_fit = model1.fit(maxlag=3)
    d_f1 = model1_fit.predict(start=len(features1), end=len(features1)+8, dynamic=False)
    cda += d_f1.to_list()

    #print('Country {0} completed'.format(country))

In [12]:
# CHA time series

for country in countries:
    df = climate[climate['country']==str(country)].reset_index()
    #df.index = pd.to_datetime(df['year'],format='%Y')#.dt.year
    features = df['CHA']
    if len((climate[climate['country']==str(country)]['CHA']).unique()) <=3:
        cha_ = features[:9].tolist()
        cha+=cha_
    else:
        model = AR(features)
        model_fit = model.fit(maxlag=3)
        d_f = model_fit.predict(start=len(features), end=len(features)+8, dynamic=False)
        cha+=d_f.to_list()
    #print('Country {0} completed'.format(country)) # problems with values repetition

In [13]:
# FGA time series

for country in countries:
    df = climate[climate['country']==str(country)].reset_index()
    #df.index = pd.to_datetime(df['year'],format='%Y')#.dt.year
    features = df['FGA']
    if len((climate[climate['country']==str(country)]['FGA']).unique()) <=3:
        fga_ = features[:9].tolist()
        fga+=fga_
    else:
        model = AR(features)
        model_fit = model.fit(maxlag=3)
        d_f = model_fit.predict(start=len(features), end=len(features)+8, dynamic=False)
        fga+=d_f.to_list()
    #print('Country {0} completed'.format(country))

In [14]:
# NDA time series

for country in countries:
    df = climate[climate['country']==str(country)].reset_index()
    #df.index = pd.to_datetime(df['year'],format='%Y')#.dt.year
    features = df['NDA']
    if len((climate[climate['country']==str(country)]['NDA']).unique()) <=3:
        nda_ = features[:9].tolist()
        nda+=nda_
    else:
        model = AR(features)
        model_fit = model.fit(maxlag=3)
        d_f = model_fit.predict(start=len(features), end=len(features)+8, dynamic=False)
        nda+=d_f.to_list()
    #print('Country {0} completed'.format(country))

In [15]:
# BCA time series

for country in countries:
    df = climate[climate['country']==str(country)].reset_index()
    #df.index = pd.to_datetime(df['year'],format='%Y')#.dt.year
    features = df['BCA']
    if len((climate[climate['country']==str(country)]['BCA']).unique()) <=3:
        bca_ = features[:9].tolist()
        bca+=bca_
    else:
        model = AR(features)
        model_fit = model.fit(maxlag=3)
        d_f = model_fit.predict(start=len(features), end=len(features)+8, dynamic=False)
        bca+=d_f.to_list()
    #print('Country {0} completed'.format(country))

## We have to generate total 1071 predictions

In [16]:
print('The CDA columns has {0} predictions'.format(len(cda)))
print('The CHA columns has {0} predictions'.format(len(cha)))
print('The FGA columns has {0} predictions'.format(len(fga)))
print('The NDA columns has {0} predictions'.format(len(nda)))
print('The BCA columns has {0} predictions'.format(len(bca)))

The CDA columns has 1071 predictions
The CHA columns has 1071 predictions
The FGA columns has 1071 predictions
The NDA columns has 1071 predictions
The BCA columns has 1071 predictions

In [17]:
df_cda = pd.DataFrame({'CDA':cda})
df_cha = pd.DataFrame({'CHA':cha})
df_fga = pd.DataFrame({'FGA':fga})
df_nda = pd.DataFrame({'NDA':nda})
df_bca = pd.DataFrame({'BCA':bca})

In [18]:
print('The CDA columns has {0} predictions'.format(df_cda.shape[0]))
print('The CHA columns has {0} predictions'.format(df_cha.shape[0]))
print('The FGA columns has {0} predictions'.format(df_fga.shape[0]))
print('The NDA columns has {0} predictions'.format(df_nda.shape[0]))
print('The BCA columns has {0} predictions'.format(df_bca.shape[0]))

The CDA columns has 1071 predictions
The CHA columns has 1071 predictions
The FGA columns has 1071 predictions
The NDA columns has 1071 predictions
The BCA columns has 1071 predictions

In [19]:
years = [num for num in range(2019,2028)]
year = pd.DataFrame({'year':years*119})
year.shape

(1071, 1)

In [20]:
countries_total = []
for i in countries:
    for j in range(0,9):
        countries_total.append(i)

In [21]:
len(countries_total)

1071

In [22]:
data = pd.DataFrame(countries_total,columns=['country'])
climate_pred = data.join(year)

In [23]:
climate_pred = climate_pred.join(df_cda)
climate_pred = climate_pred.join(df_cha)
climate_pred = climate_pred.join(df_fga)
climate_pred = climate_pred.join(df_nda)
climate_pred = climate_pred.join(df_bca)

In [24]:
climate_pred.shape

(1071, 7)

In [25]:
climate.describe()

,year,CDA,CHA,FGA,NDA,BCA
count,2856.000000,2856.000000,2856.000000,2856.000000,2856.000000,2856.000000
mean,2006.500000,45.612832,69.813558,75.881315,60.529332,59.847407
std,6.923399,20.547769,28.557937,26.864981,28.985214,31.603002
min,1995.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2000.750000,32.712642,51.514287,68.328556,39.979301,35.903772
50%,2006.500000,45.657211,75.672376,87.055491,63.171014,60.031367
75%,2012.250000,58.373207,100.000000,92.399902,82.429205,94.238995
max,2018.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [26]:
climate_pred.describe()

,year,CDA,CHA,FGA,NDA,BCA
count,1071.000000,1071.000000,1071.000000,1071.000000,1071.000000,1071.000000
mean,2023.000000,45.725665,69.564284,89.543604,57.516227,56.748969
std,2.583195,25.695135,25.134798,7.964706,27.170484,28.029411
min,2019.000000,-286.130726,0.462149,46.899592,-131.953531,-2.408672
25%,2021.000000,34.900554,52.789285,87.327318,42.719765,36.919752
50%,2023.000000,47.844046,72.765109,90.702536,61.198179,55.075630
75%,2025.000000,59.931267,91.311357,94.227968,76.651957,79.333657
max,2027.000000,99.830786,130.559686,105.090360,142.115631,109.121687

In [27]:
climate_pred['CDA'] = climate_pred['CDA'].apply(lambda x: 0 if x<=0 else x)
climate_pred['CHA'] = climate_pred['CHA'].apply(lambda x: 0 if x<=0 else x)
climate_pred['FGA'] = climate_pred['FGA'].apply(lambda x: 0 if x<=0 else x)
climate_pred['NDA'] = climate_pred['NDA'].apply(lambda x: 0 if x<=0 else x)
climate_pred['BCA'] = climate_pred['BCA'].apply(lambda x: 0 if x<=0 else x)

climate_pred['CDA'] = climate_pred['CDA'].apply(lambda x: 100 if x>=100 else x)
climate_pred['CHA'] = climate_pred['CHA'].apply(lambda x: 100 if x>=100 else x)
climate_pred['FGA'] = climate_pred['FGA'].apply(lambda x: 100 if x>=100 else x)
climate_pred['NDA'] = climate_pred['NDA'].apply(lambda x: 100 if x>=100 else x)
climate_pred['BCA'] = climate_pred['BCA'].apply(lambda x: 100 if x>=100 else x)

In [28]:
climate_pred.describe()

,year,CDA,CHA,FGA,NDA,BCA
count,1071.000000,1071.000000,1071.000000,1071.000000,1071.000000,1071.000000
mean,2023.000000,46.888759,69.353128,89.515581,58.131653,56.696860
std,2.583195,19.190392,24.799256,7.921643,24.373976,27.845778
min,2019.000000,0.000000,0.462149,46.899592,0.000000,0.000000
25%,2021.000000,34.900554,52.789285,87.327318,42.719765,36.919752
50%,2023.000000,47.844046,72.765109,90.702536,61.198179,55.075630
75%,2025.000000,59.931267,91.311357,94.227968,76.651957,79.333657
max,2027.000000,99.830786,100.000000,100.000000,100.000000,100.000000

In [29]:
final_df = []
for country in countries:
    df1 = climate[climate['country']==str(country)].reset_index()
    df2 = climate_pred[climate_pred['country']==str(country)].reset_index()
    final = df1.append(df2)
    final = final.reset_index()
    final.drop(columns=['level_0','index'],inplace=True)
    final_df.append(final)

In [30]:
def list_to_df(lst):
    df = lst[0]
    for item in range(1,len(lst)):
        df = df.append(lst[item])
    return df

In [31]:
all_pred_2018 = list_to_df(final_df)

In [32]:
all_pred_2018 = all_pred_2018.reset_index()
all_pred_2018.drop(columns=['index'],inplace=True)

In [33]:
all_pred_2018.shape

(3927, 7)

In [35]:
all_pred_2018.head(35)

    country  year         CDA         CHA        FGA         NDA         BCA
0   Albania  1995  100.000000   73.072520   0.000000   78.221486  100.000000
1   Albania  1996  100.000000   73.072520   0.000000   78.221486  100.000000
2   Albania  1997  100.000000   73.072520   0.000000   78.221486  100.000000
3   Albania  1998  100.000000   73.072520   0.000000   78.221486  100.000000
4   Albania  1999  100.000000   73.072520   0.000000   78.221486  100.000000
5   Albania  2000   74.923269   76.760669   0.000000   63.022453   48.045073
6   Albania  2001   39.235149   85.603156  18.915822   68.296950    0.000000
7   Albania  2002   18.968655  100.000000  40.199894   71.154023    0.000000
8   Albania  2003    1.230429  100.000000  51.079315   71.641696    0.000000
9   Albania  2004    0.000000  100.000000  57.123048   60.929528    0.000000
10  Albania  2005    0.000000  100.000000  59.128368   49.251423    0.000000
11  Albania  2006    0.000000   99.959781  60.153131   49.981561    0.000000
12  Albania  2007   17.883514  100.000000  64.772210   60.454158   10.873171
13  Albania  2008   35.874283  100.000000  68.930938   71.780970   56.711345
14  Albania  2009   40.793817  100.000000  72.608704   90.713342   56.352143
15  Albania  2010   46.330144  100.000000  76.187988  100.000000   63.528787
16  Albania  2011   46.494000  100.000000  79.645391  100.000000   69.899276
17  Albania  2012   45.298592  100.000000  82.931852  100.000000   91.843514
18  Albania  2013   41.620819  100.000000  85.549548  100.000000  100.000000
19  Albania  2014   36.221721  100.000000  87.269920   98.082490  100.000000
20  Albania  2015   34.895089  100.000000  88.091984   78.695273  100.000000
21  Albania  2016   37.169587   85.143263  88.896693   66.507309  100.000000
22  Albania  2017   41.174080   79.154052  89.444386   61.861935  100.000000
23  Albania  2018   41.174080   79.154052  89.444386   61.861935  100.000000
24  Albania  2019   40.123546   81.998877  89.999661   65.189814   93.314241
25  Albania  2020   38.628908   85.636201  91.190370   70.096349   84.303685
26  Albania  2021   37.101171   88.929358  92.635469   74.917959   75.539348
27  Albania  2022   35.826804   91.404014  93.980275   78.474117   68.267151
28  Albania  2023   34.958733   92.996276  95.082762   80.227457   62.876347
29  Albania  2024   34.529749   93.850922  95.971997   80.239818   59.267465
30  Albania  2025   34.483285   94.183600  96.735592   78.990692   57.112449
31  Albania  2026   34.710923   94.200966  97.440358   77.141706   56.020310
32  Albania  2027   35.087824   94.064327  98.110776   75.320904   55.629703
33  Algeria  1995   40.836434   98.636534  96.334651   72.620891   70.996796
34  Algeria  1996   40.836434   98.636534  96.334651   72.620891   70.996796

# Export xlsx and csv

In [34]:
climate_pred.to_csv('climate_pred_2018.csv')

In [35]:
all_pred_2018.to_csv('climate_all_pred_2018.csv')

# `Survival Analysis` to predict which variable represents the biggest change concern